    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Lead Your Fleet to Victory!</h2>
                <p>
                    With no reinforcements or reserves, your Fleet is all that stands between the worlds under your protection and subjugation!
                <p>
                <p>
                    Maintain your and expand your territory with a familiar War Game interface.
                </p>
                <p>
                    Outwit and outhink your advanced A.I components.
                </p>
                <p>
                    Pacify your sector of space and reclaim your long lost homeworld; Earth!
                </p>
                <br />

            </div>
        </div>
    </section>